	
/*
						I. Phần 1. Tạo CSDL và nhập liệu
*/
CREATE DATABASE QuanLyCuaHangThuCung
GO
USE QuanLyCuaHangThuCung

/*
USE master
DROP DATABASE QuanLyCuaHangThuCung
*/


/*
--------------------------------------TẠO BẢNG--------------------------------------
------------------------------------------------------------------------------------
1. NHANVIEN			-	Nhân viên
2. TAIKHOAN			-	Tài khoản
3. CHUCVU			-	Chức vụ
4. LOAI				-	Loài
5. GIONG			-	Giống thú cưng
6. THUCUNG			-	Thú cưng
7. SANPHAM			-	Sản phẩm
8. HOADON			-	Hóa đơn
9. CTHDTHUCUNG		-	Chi tiết hóa đơn thú cưng
10. CTHDSANPHAM		-	Chi tiết hóa đơn
11. KHUYENMAI		-	Khuyến mãi (mã giảm giá)
12. KHACHHANG		-	Thông tin khách hàng
*/


CREATE TABLE NHANVIEN(
	MANV VARCHAR(5) NOT NULL,
	HOTEN NVARCHAR(50),
	GIOITINH NVARCHAR(3),
	NGAYSINH DATE,
	DIACHI NVARCHAR(200),
	SDT VARCHAR(12),
	CHUCVU VARCHAR(10), 
	LUONG INT,
	CMND VARCHAR(10),
	CONSTRAINT PK_NHANVIEN PRIMARY KEY (MANV)
)

CREATE TABLE TAIKHOAN(	
	MANV VARCHAR(5),
	TENTK VARCHAR(50) NOT NULL,
	MATKHAU VARCHAR(50) NOT NULL,
	CONSTRAINT PK_TAIKHOAN PRIMARY KEY (TENTK)
)

CREATE TABLE CHUCVU(
	MACV VARCHAR(10) NOT NULL,
	DIENGIAI NVARCHAR(100)
	CONSTRAINT PK_CHUCVU PRIMARY KEY (MACV)
)

CREATE TABLE LOAI( 
	MALOAI VARCHAR(5) NOT NULL,
	TENLOAI NVARCHAR(20),
	CONSTRAINT PK_LOAI PRIMARY KEY (MALOAI)
)

CREATE TABLE GIONG(
	MAGIONG VARCHAR(10) NOT NULL,
	MALOAI VARCHAR(5),
	TENGIONG NVARCHAR(50),
	MOTA NVARCHAR(500)
	CONSTRAINT PK_GIONG PRIMARY KEY (MAGIONG)
)

CREATE TABLE THUCUNG
(
	MATC VARCHAR(5) NOT NULL,
	MAGIONG VARCHAR (10),
	DONGIA INT,
	CONSTRAINT PK_THUCUNG PRIMARY KEY (MATC)
)

CREATE TABLE SANPHAM(
	MASP VARCHAR(5) NOT NULL,
	LOAI VARCHAR(5),
	TENSP NVARCHAR(100),
	DONGIA INT,
	SL INT,
	CONSTRAINT PK_SANPHAM PRIMARY KEY (MASP)
)

CREATE TABLE HOADON(
	MAHD VARCHAR(10) NOT NULL,
	NGUOILAPHD VARCHAR(5),
	NGAYLAP DATETIME,
	MAKH VARCHAR(5),
	MAKM VARCHAR(10),
	CONSTRAINT PK_HOADON PRIMARY KEY (MAHD)
)

CREATE TABLE CTHOADONTHUCUNG(
	MAHD VARCHAR(10) NOT NULL,
	STT INT NOT NULL,
	MATC VARCHAR(5),
	SOLUONG INT,
	DONGIA INT,
	CONSTRAINT PK_CTHOADONTHUCUNG PRIMARY KEY (MAHD, STT)
)

CREATE TABLE CTHOADONSANPHAM(
	MAHD VARCHAR(10) NOT NULL,
	STT INT NOT NULL,
	MASP VARCHAR(5),
	SOLUONG INT,
	DONGIA INT,
	CONSTRAINT PK_CTHOADONSANPHAM PRIMARY KEY (MAHD, STT)
)

CREATE TABLE KHUYENMAI(
	MAKM VARCHAR(10) NOT NULL,
	GIATRIKM INT , 
	NGAYBD DATETIME,
	NGAYKT DATETIME,
	CONSTRAINT PK_KHUYENMAI PRIMARY KEY (MAKM)
)

CREATE TABLE KHACHHANG(
	MAKH VARCHAR (5) NOT NULL,
	HOTEN NVARCHAR(50),
	GIOITINH NVARCHAR(3),
	NGAYSINH DATE,
	DIACHI NVARCHAR(200),
	SDT VARCHAR(12),
	CMND VARCHAR(10),
	CONSTRAINT PK_KHACHHANG PRIMARY KEY (MAKH)
)

--------------------------------------TẠO RÀNG BUỘC KHÓA NGOẠI
ALTER TABLE TAIKHOAN ADD CONSTRAINT FK_TAIKHOAN_NHANVIEN FOREIGN KEY (MANV) REFERENCES NHANVIEN (MANV)

ALTER TABLE HOADON ADD CONSTRAINT FK_HOADON_NHANVIEN FOREIGN KEY (NGUOILAPHD) REFERENCES NHANVIEN (MANV)
ALTER TABLE HOADON ADD CONSTRAINT FK_HOADON_KHACHHANG FOREIGN KEY (MAKH) REFERENCES KHACHHANG(MAKH)
ALTER TABLE HOADON ADD CONSTRAINT FK_HOADON_KHUYENMAI FOREIGN KEY (MAKM) REFERENCES KHUYENMAI (MAKM)

ALTER TABLE CTHOADONTHUCUNG ADD CONSTRAINT FK_CTHOADONTHUCUNG_HOADON FOREIGN KEY (MAHD) REFERENCES HOADON (MAHD)
ALTER TABLE CTHOADONTHUCUNG ADD CONSTRAINT FK_CTHOADONTHUCUNG_THUCUNG FOREIGN KEY (MATC) REFERENCES THUCUNG(MATC)

ALTER TABLE CTHOADONSANPHAM ADD CONSTRAINT FK_CTHOADONSANPHAM_HOADON FOREIGN KEY (MAHD) REFERENCES HOADON (MAHD)
ALTER TABLE CTHOADONSANPHAM ADD CONSTRAINT FK_CTHOADONSANPHAM_SANPHAM FOREIGN KEY (MASP) REFERENCES SANPHAM(MASP)

ALTER TABLE THUCUNG ADD CONSTRAINT FK_THUCUNG_GIONG FOREIGN KEY (MAGIONG) REFERENCES GIONG (MAGIONG)

ALTER TABLE GIONG ADD CONSTRAINT FK_GIONG_MALOAI FOREIGN KEY (MALOAI) REFERENCES LOAI(MALOAI)

ALTER TABLE NHANVIEN ADD CONSTRAINT FK_NHANVIEN_CHUCVU FOREIGN KEY(CHUCVU) REFERENCES CHUCVU(MACV)

ALTER TABLE	SANPHAM ADD CONSTRAINT FK_SANPHAM_LOAI FOREIGN KEY (LOAI) REFERENCES LOAI(MALOAI) 


------------------------------------------ DỮ LIỆU MẪU------------------------------------

INSERT INTO LOAI VALUES
('DOG', N'Chó'),
('CAT', N'Mèo'),
('HAMS', N'Chuột hamster')


INSERT INTO THUCUNG VALUES
('001', 'ANGORA', 5000000),
('002', 'BEAR', 90000),
('003', 'CAMPBELL', 70000),
('004', 'HUSKY', 7000000),
('005', 'GOLDEN', 6000000),
('006', 'BRITISHSHH', 5000000)


Insert Into CHUCVU Values
('CHCH',N'Chủ cửa hàng'),
('NVBH',N'Nhân viên'),
('NVKH',N'Nhân viên kho')

Insert into NHANVIEN Values
('NV001',N'Võ Anh Tuấn',N'Nam','1/1/1990',N'Củ Chi','0987628348','CHCH','1246766','1234587683'),
('NV002',N'Võ Anh Tèo',N'Nam','1/2/1992',N'Mỹ Tho','0987628348','NVBH','12467606','1234587628'),
('NV003',N'Võ Thi Nở',N'Nữ','6/1/1995',N'Pháp','0987628348','NVKH','12467696','1234582768')

Insert into TAIKHOAN Values
('NV001','NV001','voanhtuan'),
('NV002','NV002','voanhteo'),
('NV003','NV003','vothino')


INSERT INTO KHACHHANG VALUES
('KH001',N'ABC',N'Nam','1/1/1990',N'Củ Chi','0987628348','1234587683'),
('KH002',N'XYZ',N'Nam','1/2/1992',N'Mỹ Tho','0987628348','1234587628'),
('KH003',N'YJK',N'Nữ','6/1/1995',N'Pháp','0987628348','1234582768')

INSERT INTO KHUYENMAI VALUES
('NOEL2017', 30000, '12/20/2017', '12/31/2017'),
('TET2018', 50000, '1/1/2018', '1/10/2018')


INSERT INTO HOADON VALUES
('001', 'NV002', '12/24/2017', 'KH001', 'NOEL2017'),
('002', 'NV002', '12/29/2017', 'KH002', NULL),
('003', 'NV002', '1/2/2018', 'KH003', 'TET2018'),
('004', 'NV002', '1/2/2018', NULL, NULL)

INSERT INTO CTHOADONSANPHAM VALUES
('001', 1, '001', 1, 115000),
('001', 2, '004', 1, 125000),
('002', 1, '008', 2, 20000), 
('002', 2, '011', 2, 20000),
('002', 3, '012', 1, 13000),
('003', 1, '006', 1, 200000),
('004', 1, '009', 1, 15000),
('004', 2, '011', 2, 20000)

INSERT INTO CTHOADONTHUCUNG VALUES
('002', 1, '002', 1, 90000),
('004', 1, '003', 1, 70000) 

select *from LOAI
select *from GIONG
select *from THUCUNG
select *from SANPHAM
select *from NHANVIEN
select *from TAIKHOAN
select *from CHUCVU
select *from HOADON
select *from KHACHHANG
select *from KHUYENMAI
select *from CTHOADONSANPHAM
select *from CTHOADONTHUCUNG

create proc XuatHoaDon @NgayBD VARCHAR(50), @NgayKT VARCHAR(50)
as
	begin
		Select temp.MAHD, temp.NGUOILAPHD, temp.NGAYLAP, temp.MAKH, temp.MAKM, SUM(temp.Tong) TONG
		from
			(Select hd.*, SUM(ctsp.DONGIA*ctsp.SOLUONG ) Tong
			From HOADON hd join CTHOADONSANPHAM ctsp on hd.MAHD = ctsp.MAHD
			Where hd.NGAYLAP >= @NgayBD and hd.NGAYLAP <= @NgayKT
			group by hd.MAHD, hd.NGUOILAPHD, hd.NGAYLAP, hd.MAKH, hd.MAKM
			UNION
			Select hd.*, SUM(cttc.DONGIA*cttc.SOLUONG) Tong
			From HOADON hd join CTHOADONTHUCUNG cttc on hd.MAHD = cttc.MAHD
			Where hd.NGAYLAP >= @NgayBD and hd.NGAYLAP <= @NgayKT
			group by hd.MAHD, hd.NGUOILAPHD, hd.NGAYLAP, hd.MAKH, hd.MAKM
			
			UNION
			SELECT hd.*, -k.GIATRIKM Tong
			FROM HOADON hd join KHUYENMAI k on hd.MAKM = k.MAKM
			Where hd.NGAYLAP >= @NgayBD and hd.NGAYLAP <= @NgayKT
			
			) temp
		group by temp.MAHD, temp.NGUOILAPHD, temp.NGAYLAP, temp.MAKH, temp.MAKM
	end
go
--XuatHoaDon '12/30/2017', '2/2/2018'

create proc tim_tai_khoan @tentk varchar(50), @matkhau varchar (50)
as
	begin
		Select *
		From TAIKHOAN tk
		Where tk.TENTK = @tentk and tk.MATKHAU = @matkhau
	end
go

create proc tim_nhan_vien_theo_manv @manv VARCHAR(5)
as
	begin
		Select *
		From NHANVIEN nv
		Where nv.MANV = @manv
	end
go

create proc getAllNhanVien
as
begin
	Select * From NHANVIEN
end
go

create proc insertNhanVien @manv varchar(5), @hoten nvarchar(50), @gioitinh nvarchar(5), @ngaysinh date, @diachi nvarchar(200),
@sdt varchar(12), @chucvu varchar(10), @luong int, @cmnd varchar(10)
as
begin 
	Insert into NHANVIEN values
		(@manv, @hoten, @gioitinh, @ngaysinh, @diachi, @sdt, @chucvu, @luong, @cmnd)
end
go

create proc deleteNhanVien @manv varchar(5)
as
begin
	delete from NHANVIEN 
	where MANV = @manv
end
go

create proc findNhanVienByMANV @manv VARCHAR(5)
as
	begin
		Select *
		From NHANVIEN nv
		Where nv.MANV = @manv
	end
go

create proc insertTaiKhoan @manv varchar(5), @tentk varchar(50), @matkhau varchar(50)
as
begin
	Insert into TAIKHOAN values
	(@manv,@tentk,@matkhau)
end
go

create proc deleteTaiKhoan @manv varchar(5)
as
begin
	delete from TAIKHOAN
	where MANV = @manv 
end
go

create proc findTaiKhoan @tentk varchar(50)
as
begin
	select * 
	from TAIKHOAN
	where TENTK = @tentk
end
go

create proc insertLoai @maloai varchar(5), @tenloai nvarchar(20)
as
begin
	insert into Loai values
	(@maloai, @tenloai)
end
go

create proc deleteLoai @maloai varchar(5)
as
begin
	delete from LOAI
	where MALOAI = @maloai
end
go

create proc insertGiong @magiong varchar(10), @maloai varchar(5), @tengiong nvarchar(50), @mota nvarchar(500)
as 
begin 
	insert into GIONG values
	(@magiong,@maloai,@tengiong,@mota)
end
go

create proc deleteGiong @magiong varchar (10)
as
begin
	delete from GIONG
	where MAGIONG = @magiong
end
go

create proc insertThuCung @matc varchar(5), @magiong varchar(10), @dongia int
as
begin
	insert into THUCUNG  values
	(@matc,@magiong,@dongia)
end
go

create proc deleteThuCung @matc varchar(5)
as
begin
	delete from THUCUNG
	where MATC = @matc
end
go

create proc insertSanPham @masp varchar(5),@loai varchar(5),@tensp varchar(100), @dongia int, @soluong int
as
begin 
	insert into SANPHAM values
	(@masp,@loai,@tensp,@dongia,@soluong)
end
go

create proc deleteSanPham @masp varchar(5)
as
begin
	delete from SANPHAM
	where MASP = @masp
end
go

create proc insertKhachHang @makh varchar(5), @tenkh nvarchar(50), @gioitinh nvarchar(5), @ngaysinh date, @diachi nvarchar(200), @sdt varchar(12), @cmnd varchar(10)
as
begin
	insert into KHACHHANG values
	(@makh,@tenkh,@gioitinh, @ngaysinh, @diachi,@sdt,@cmnd)

end
go

create proc deleteKhachHang @makh varchar(5)
as
begin
	delete from KHACHHANG 
	where MAKH = @makh
end
go

create proc insertKhuyenMai @makm varchar(10), @giatrikm int, @ngaybd date, @ngaykt date
as
begin
	insert into KHUYENMAI values
	(@makm,@giatrikm,@ngaybd,@ngaykt) 
end
go

create proc deleteKhuyenMai @makm varchar(10)
as
begin
	delete from KHUYENMAI
	where MAKM = @makm
end
go

create proc updateUserInfo @manv varchar(5), @hoten nvarchar(50), @gioitinh nvarchar(5), @ngaysinh date, @diachi nvarchar(200),
@sdt varchar(12), @cmnd varchar(10)
as
begin 
	Update NHANVIEN
	Set HOTEN = @hoten, GIOITINH = @gioitinh, NGAYSINH = @ngaysinh, DIACHI = @diachi, SDT = @sdt, CMND = @cmnd 
	Where MANV = @manv
end
go



create proc getExtendedNhanVien
as
	begin
		Select nv.*,tk.TENTK,tk.MATKHAU
		From NHANVIEN nv, TAIKHOAN tk
		Where nv.MANV = tk.MANV
	end
go

create proc lay_danh_sach_vat_nuoi
as
	begin
		SELECT TENLOAI, MALOAI
		From LOAI 
	end
go

create proc lay_danh_sach_vat_nuoi_theo_ma_giong @magiong VARCHAR(10)
as
	begin
		SELECT MATC, DONGIA
		From THUCUNG
		where MAGIONG = @magiong
	end 
go



create proc lay_danh_sach_giong_vat_nuoi @maloai VARCHAR(5)
as
	begin
		SELECT TENGIONG, MAGIONG, MOTA
		From GIONG
		Where MALOAI = @maloai
	end
go




create proc lay_danh_sach_san_pham_theo_loai_DK @maloai VARCHAR(5), @name NVARCHAR(100)
as
	begin
		SELECT MASP, TENSP, DONGIA, SL
		From SANPHAM
		Where LOAI = @maloai and TENSP like @name
	end
go


CREATE PROC sua_thu_cung @maTC VARCHAR(5), @donGia INT
AS
	BEGIN
		UPDATE THUCUNG
		SET DONGIA = @donGia
		WHERE MATC = @maTC
	END
GO

--sua_thu_cung '200', 1000

CREATE PROC xoa_thu_cung @maTC VARCHAR(5)
AS
	BEGIN
		DELETE FROM THUCUNG
		WHERE MATC = @maTC
	END
GO
--xoa_thu_cung '200'

-- Sản phẩm
CREATE PROC sua_san_pham @maSP VARCHAR(5), @tenSP NVARCHAR(100), @donGia INT
AS
	BEGIN
		UPDATE SANPHAM
		SET TENSP = @tenSP, DONGIA = @donGia
		WHERE MASP = @maSP
	END
GO

CREATE PROC them_san_pham @maSP VARCHAR(5), @soluong INT
AS
	BEGIN
		UPDATE SANPHAM
		SET SL = SL + @soluong
		WHERE MASP = @maSP
	END
GO

--them_san_pham '100', 50

CREATE PROC xoa_san_pham @maSP VARCHAR(5)
AS
	BEGIN
		DELETE FROM SANPHAM
		WHERE MASP = @maSP
	END
GO

select *from LOAI
select *from GIONG
select *from THUCUNG
select *from SANPHAM
select *from NHANVIEN
select *from TAIKHOAN
select *from KHACHHANG


create proc updateKhachHangInfo @makh varchar(5), @hoten nvarchar(50), @gioitinh nvarchar(5), @ngaysinh date, @diachi nvarchar(200), 
@sdt varchar(12), @cmnd varchar(10)
as
begin 
	Update KHACHHANG
	Set HOTEN = @hoten, GIOITINH = @gioitinh, NGAYSINH = @ngaysinh, DIACHI = @diachi, SDT = @sdt, CMND = @cmnd 
	Where MAKH = @makh
end
go

create proc checkKhachHangExist @makh varchar(5)
as
begin 
	Select count(*) as Result
	From KHACHHANG
	Where MAKH = @makh
end
go

updateKhachHangInfo 'KH001', N'ABC', N'Nam', '12/11/1997', N'Chu Chi', '1234567890', '029374678' 
checkKhachHangExist 'KH004'

create proc getAllHoaDon
as
begin
	SELECT *
	FROM HOADON
end
go

create proc getHoaDon @ngaybd datetime, @ngaykt datetime
as
begin 
	SELECT *
	FROM HOADON
	WHERE @ngaybd <= NGAYLAP AND NGAYLAP <= @ngaykt
end
go

create proc getCTHDSP @maHD varchar(10)
as
begin
	SELECT *
	FROM CTHOADONSANPHAM
	WHERE MAHD = @maHD
end
go

create proc getCTHDTC @maHD varchar(10)
as
begin
	SELECT *
	FROM CTHOADONTHUCUNG
	WHERE MAHD = @maHD
end
go

create proc getTongTienHDSP @maHD varchar(10)
as
begin
	SELECT SUM(SOLUONG*DONGIA)as TONG
	FROM CTHOADONSANPHAM
	WHERE MAHD = @maHD
end
go

create proc getTongTienHDTC @maHD varchar(10)
as
begin
	SELECT SUM(SOLUONG*DONGIA)as TONG
	FROM CTHOADONTHUCUNG
	WHERE MAHD = @maHD
end
go